<!-- Main Navigation Right -->
<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="partners.html">Patrocinadores</a></li>
		<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="features-contact-us.html">Contáctanos</a></li>
	</ul>
</nav>
<!-- Main Navigation Right / End -->
