<!-- Main Navigation Left -->
<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="team-selection-1.html">Equipo</a></li>
		<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="team-overview.html">Nosotros</a></li>
		<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="management-and-staff.html">Galería</a></li>
	</ul>
</nav>
<!-- Main Navigation Left / End -->
