<!-- Main Navigation -->
<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="{{#ifpage 'home'}}active{{/ifpage}}"><a href="index.html">Inicio</a></li>
		<li class="{{#ifpage 'team-selection-1' }}active{{/ifpage}}">
			<a href="team-selection-1.html">Equipo</a>
		</li>
		<li class="{{#ifpage 'team-overview' }}active{{/ifpage}}">
			<a href="team-overview.html">Nosotros</a>
		</li>
		<li class="{{#ifpage 'management-and-staff' }}active{{/ifpage}}">
			<a href="management-and-staff.html">Galería</a>
		</li>
		<li class="{{#ifpage 'partners' }}active{{/ifpage}}">
			<a href="partners.html">Patrocinadores</a>
		</li>
		<li class="{{#ifpage 'features-contact-us' }}active{{/ifpage}}">
			<a href="features-contact-us.html">Contáctanos</a>
		</li>
	</ul>
</nav>
<!-- Main Navigation / End -->
