---
gmap_script: true
---

<!-- Content
================================================== -->
<main class="site-content contact-us-page" id="wrapper">
	<div class="container-contact-page">
	<img src="/assets/img/portada-galeria-de-fotos.png" class="img-side" />
	<div >
		<div class="site-content__holder padding-side ">
			<h1 class="page-title h3">Contáctanos</h1>
			<div class="page-content">
				<h4 class="text-sm">Información de contacto</h4>
				<p>
					Si tienes alguna pregunta, simplemente envíanos un correo electrónico y no olvides seguirnos y darnos me gusta en todas nuestras cuentas sociales para mantenerte actualizado.
				</p>
				<div class="info-box">
					<div class="info-box__label">Consultas generales</div>
					<div class="info-box__content"><a href="mailto:fullwesports.ec@gmail.com">fullwesports.ec<span class="color-primary">@</span>gmail.com</a></div>
				</div>
				<ul class="social-menu social-menu--links">
					<li><a href="https://www.facebook.com/FullWEsportsOficial?mibextid=LQQJ4d"></a></li>
					<li><a href="https://www.instagram.com/fullw.esport?igsh=MTl0cXA3eHVsd21q"></a></li>
					<li><a href="https://x.com/fullwesports?s=21&t=D9Du_ZS_C9s6cJSycFsocw"></a></li>
					<li><a href="https://www.tiktok.com/@fullwteam"></a></li>
				</ul>
				<h4 class="text-sm">Únete a nuestro equipo</h4>
				<p>
					Siempre estamos buscando nuevos talentos para que se unan a nuestros equipos. Si quieres unirte a nosotros, solo envíanos un correo electrónico y nos comunicaremos contigo.
				</p>
				<div class="info-box">
					<div class="info-box__label">Reclutamiento</div>
					<div class="info-box__content"><a href="mailto:fullwesports.ec@gmail.com">fullwesports.ec<span class="color-primary">@</span>gmail.com</a></div>
				</div>
				<div class="info-box">
					<div class="info-box__label">Conviertete en nuestro patrocinador</div>
					<div class="info-box__content"><a href="tel:+593998639724">+593 99 863 9724</a></div>
				</div>
				<img src="/assets/img/mapa.png" style="width:100%;" class="map-img"/>
				<div class="gm-map__info">
					<span class="color-primary">FULL W</span>
					<address>Edificio Euro, Av. Replubica del Salvador </br>Suite 8, Quito</address>
				</div>
			</div>
			<!-- Google Map -->
			{{!-- <div class="gm-map gm-map--aside" data-map-style="necromancers" data-map-address="645 5th Ave, New York, US" data-map-icon="{{../root}}assets/img/map-marker.png" data-map-zoom="15">
				<img src="/assets/img/mapa.png" style="max-width: 40vw;" />
				<div class="gm-map__info">
					<span class="color-primary">FULL W</span>
					<address>Edificio Euro, Av. Replubica del Salvador </br>Suite 8, Quito</address>
				</div>
			</div> --}}
			<!-- Google Map / End -->
		</div>
	</div>
	</div>
</main>
