---
layout: "bg-showcase"
bg: "bg--texture-01"
bg-texture: "bg--dotted-3x3"
class: "site-layout--landing-error"
---

<div class="container">
	<div class="row">
		<div class="error__logo-wrapper col-md-6 d-none d-md-block">
			<img src="assets/img/samples/page-bg-logo.png" class="error__logo" alt="">
			<!-- Decoration -->
			<div class="ncr-page-decor">
				<div class="ncr-page-decor__layer-3"></div>
			</div>
			<!-- Decoration / End -->
		</div>
		<div class="error__txt-wrapper col-md-5 align-self-center offset-md-1">
			<h1 class="error__title">404</h1>
			<h2 class="error__subtitle">Page Not Found</h2>
			<div class="error__desc">
				<p>
					Sorry! The page that you’re trying to see does not exist or was moved.
					<a href="index.html">Click here</a> to go back and keep browsing!
				</p>
			</div>
		</div>
	</div>
</div>
