---
site-layout: site-layout--default-inverse
---

<!-- Content
================================================== -->
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<figure class="page-thumbnail page-thumbnail--default">
				<img src="assets/img/samples/staff-member-lg-1.jpg" alt="">
			</figure>
			<div class="staff-member staff-member--single">
				<div class="staff-member__body">
					<div class="staff-member__position">Team Manager</div>
					<h2 class="staff-member__title h3">Marina Gonzales</h2>
					<ul class="staff-member__meta list-unstyled">
						<li class="staff-member__meta-item"><span>Age</span>22 years</li>
						<li class="staff-member__meta-item"><span>Joined</span>JAN 2016</li>
						<li class="staff-member__meta-item"><span>Country</span>Costa Rica</li>
					</ul>
					<div class="staff-member__content">
						<h5>Biography</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p>Sed auctor mauris leo, vitae volutpat risus porttitor id. Integer et ipsum vel nulla ultrices tempor. Duis et sapien lobortis, lacinia velit eget, gravida quam. Aenean tempor lorem ut elit mollis pretium.</p>
						<div class="spacer-sm"></div>
						<h5>Previous Jobs</h5>
						<ul class="list">
							<li>Team Manager at <a href="#"><strong>Alchemists Gaming</strong></a> (2004 - 2009)</li>
							<li>Team Coach at <a href="#"><strong>Angry Bulls</strong></a> (2002 - 2004)</li>
							<li>Player (Support role) at <a href="#"><strong>Angry Bulls</strong></a> (2001 - 2002)</li>
						</ul>

					</div>
					<ul class="social-menu social-menu--links">
						{{#each socials}}
						<li><a href="{{link}}"></a></li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>
